.display_cards {
    margin-left: 350px;
    margin-top: 150px;
    margin-right: 50px;
}

.lista_cards_items {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 15px;
    margin-top: 250px;
}

.lista_cards_items .cards img{
    width: 200px;
    height: 200px;
}

